/* GENERAL STYLE */

body {
  font-family: sans-serif;
}

/* Titolo */
.title {
  text-align: center;
  margin-top: 100px;
}

/* Prima parte */
.col-1 img {
  width: 50%;
  float: left;
}

.left {
  width: 40%;
  height: 50px;
  margin-left: 10%;
}

 .left p {
  padding-top: 2%;
  margin-right: 55%;
  text-align: center;
}

.left h3 {
  padding-top: 24%;
  text-align: center;
  margin-right: 56%;
}

.right {
  width: 50%;
  margin-left: 67%;
}

.right p {
 padding-top: 2%;
 margin-right: 50%;
 text-align: center;
}

.right h3 {
 padding-top: 31%;
 text-align: center;
 margin-right: 50%;
}

/* Seconda parte */
 .container.grey {
  background: lightgrey;
  height: 300px;
}

.titolo-2 {
  text-align: center;
  margin-top: 4%;
}
